body {
  background-color: rgb(20, 20, 20);
}

ul {
  list-style: none;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: white !important;
}

nav img {
  height: 50px;
}

#navRight a img {
  width: 50px;
}

.dropdown-menu li a:hover {
  color: black !important;
}

h1 {
  white-space: nowrap;
}
